*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ff239d;
}

*::-webkit-scrollbar-corner {
  background-color: #ff239d;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff239d;
}

*::-webkit-scrollbar-track {
  background-color: #eaecef;
}

*::-webkit-scrollbar-track-piece {
  background-color: #eaecef;
}

.sidebar-links > li > a {
  font-weight: 500; // color: #ff239d;
}

.spaced-items img {
  margin-left: 10px;
}

img {
  max-width: 100%;
  display: block;
  height auto;
}

.spaced-items img,
p[align="center"] img {
  display: inline-block;
}

.search-box .suggestion.focused {
  background-color: rgba(255, 35, 157, .06);
}

.no-border-table tr:nth-child(2n) {
  background-color: #ffffff;
}

.no-border-table img {
  min-width: 116px;
}

.no-border-table tbody * {
  font-size: 14px;
}

.no-border-table .race-badge td span {
  display: inline-block;
  font-size: 11px !important;
  vertical-align: middle;
  border-radius: 3px;
  padding: 0px 4px 2px;
  color: #fff;
}

.no-border-table .jibril td span.badge {
  background-color: rgb(255, 35, 157);
}

.no-border-table .shuvi td span.badge {
  background-color: rgb(194, 19, 96);
}

.no-border-table .kuuhaku td span.badge {
  background-color: rgb(54, 74, 146);
}

.no-border-table .hatsuse td span.badge {
  background-color: rgb(165, 90, 190);
}

tr.race-badge td:nth-child(2) {
  white-space: nowrap;
  text-align: center;
}

hr.no-border {
  border-color: transparent
}

@media (min-width: 1400px) {
  .page {
      padding-left: 13.2rem;
      max-width: 1160px;
  }

  .sidebar {
      width: 12rem;
      left: auto;
      margin-left: 3.2rem;
  }

  .theme-container {
      max-width: 1160px;
      margin: 0 auto;
  }

  .navbar {
      max-width: 1160px;
      margin: 0 auto;
      border-bottom: none;
  }

  .navbar:after {
      content: '';
      position: fixed;
      top: 3.6rem;
      border-top: 1px solid #eaecef;
      z-index: 3;
      width: 100%;
      left: 0;
  }
}
