:root {
  --vp-c-brand-1: #ff239d;
  --vp-c-brand-2: #e61f8d;
  --vp-c-brand-3: #c91676;
  --vp-c-brand-soft: rgba(255, 35, 157, 0.14);
}

.v0-archive .VPNavBarTranslations,
.v0-archive .VPNavScreenTranslations {
  display: none !important;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-thumb {
  background-color: #ff239d;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track-piece {
  background-color: #eaecef;
}

.VPSidebarItem .text {
  font-weight: 500;
}

.spaced-items img {
  margin-left: 10px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 8px;
}

.spaced-items img,
p[align="center"] img {
  display: inline-block;
}

.no-border-table tr:nth-child(2n) {
  background-color: #fff;
}

.no-border-table img {
  min-width: 116px;
}

.no-border-table tbody * {
  font-size: 14px;
}

.no-border-table .race-badge td span {
  display: inline-block;
  font-size: 11px !important;
  vertical-align: middle;
  border-radius: 3px;
  padding: 0 4px 2px;
  color: #fff;
}

.no-border-table .jibril td span.badge {
  background-color: rgb(255, 35, 157);
}

.no-border-table .shuvi td span.badge {
  background-color: rgb(194, 19, 96);
}

.no-border-table .kuuhaku td span.badge {
  background-color: rgb(54, 74, 146);
}

.no-border-table .hatsuse td span.badge {
  background-color: rgb(165, 90, 190);
}

tr.race-badge td:nth-child(2) {
  white-space: nowrap;
  text-align: center;
}

hr.no-border {
  border-color: transparent;
}
